<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Technical Share FCamara" />
    <meta
      name="description"
      content="Aplicação desenvolvida durante o hackathon do Programa de Formação Season 3."
    />
    <meta name="author" content="Squad-3 do Programa de Formação Season 3" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <title>Technical Share</title>
    <link rel="stylesheet" href="/public/styles/global.css" />
  </head>
  <body>
    <header>Header teste</header>
    <main>
      <h1>Página teste</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque
        veritatis sed quasi ipsa libero totam? Aut, ex maiores! Ea, eveniet.
        Cupiditate, quisquam. Nobis magnam repudiandae error? Iste eveniet sequi
        minus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque
        veritatis sed quasi ipsa libero totam? Aut, ex maiores! Ea, eveniet.
        Cupiditate, quisquam. Nobis magnam repudiandae error? Iste eveniet sequi
        minus.
      </p>
      <div>Teste cor laranja</div>
      <div>Teste cor azul</div>
      <img src="/public/images/ondas.svg" alt="Teste de ondas" />
      <img src="/public/images/pontilhados.svg" alt="Teste de pontilhados" />
      <img src="/public/images/pontos.svg" alt="Teste de pontos" />
      <img src="/public/images/x.svg" alt="Teste de images" />
    </main>
    <footer>Footer teste &copy 2022</footer>
  </body>
</html>
