<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Technical Share FCamara" />
    <meta
      name="description"
      content="Aplicação desenvolvida durante o hackathon do Programa de Formação Season 3."
    />
    <meta name="author" content="Squad-3 do Programa de Formação Season 3" />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:url" content="" /> -->
    <!-- <meta property="og:image" content="" /> -->
    <link rel="icon" href="/images/icon.svg" type="image/icon type" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/login.css" />
  </head>
  <body>
    <main>
      <section class="login">
        <!-- Título da página, "visível" apenas para leitores de tela -->
        <h1 class="sr-only">Orange Share - Faça seu login</h1>
        <img
          src="/images/share-logo.svg"
          alt="Logomarca da plataforma"
          class="login__logo"
        />
        <form action="/home" class="login__form">
          <fieldset>
            <legend class="login__form--legend">Conecte-se!</legend>
            <p>Faça parte dessa comunidade</p>
            <button type="submit" class="login__button"><img src="/images/teams.svg" alt="" aria-hidden="true">Entrar com o Teams</button>
          </fieldset>
        </form>
        <div class="login__reminder">
          <p>Seu login é seu e-mail corporativo da FCamara</p>
        </div>
      </section>
    </main>

    <footer class="login__footer">
      <img src="/images/orange-footer.svg" alt="" aria-hidden="true" />
    </footer>
  </body>
</html>
