<main class="main container">
  <section class="main__text">
    <p class="main__text--title">
      <span>Encontre um</span><br />
      #Sangue Laranja
    </p>
    <p>Encontre um profissional para te ajudar</p>
    <p>Busque por nome, cargo ou tecnologias</p>
    <img src="/images/pontilhados.svg" alt="" aria-hidden="true">
    <img src="/images/ondas-l.svg" alt="" aria-hidden="true">
  </section>

  <section class="main__form">
    <form action="/search" onsubmit="event.preventDefault();">
      <label for="search" class="sr-only">
        Digite um nome, skill ou profissão:
      </label>
      <input
        type="search"
        id="search"
        placeholder="Buscar"
      />
      <button type="submit" aria-label="Pesquisar">
        <img src="/images/search.svg" alt="" aria-hidden="true" />
      </button>
    </form>
    <div class="main__form--tags">
      <a href="#">Design</a>
      <a href="#">Figma</a>
      <a href="#">Scrum</a>
      <a href="#">Carreira</a>
      <a href="#">Desenvolvedor</a>
    </div>
  </section>
  <section class="main__result">
    <div class="main__result--cards" id="filter"></div>
  </section>
</main>

<div class="modal-wrapper active">
  <div class="modal">
    <div>
      <h2>Conheça o Orange Share!</h2>
      <p>
        Aqui é o lugar certo para você encontrar um <span>#SangueLaranja</span> de forma simples e rápida para te ajudar a desenvolver novas habilidades técnicas, comportamentais e planejamento de estudo e carreira.
      </p>
      <p>
        Conecte-se com esses profissionais em poucos cliques facilitando a troca de conhecimento sem barreiras.
      </p>
      <button type="button" class="button">Bora lá!</button>
    </div>
  </div>
</div>