<main class="container">
  <section class="profile">
    <div class="profile__image">
      <img src="/images/1.png" />
    </div>
    <div class="profile__user">
      <p class="profile__user--name">Rafael Almeida Santos</p>
      <p class="profile__user--job">UX Designer Pleno • 🖥️</p>
      <p class="profile__user--pronouns">Ele/Dele</p>
      <p class="profile__user--bio">
        Oi! Me Chamo Rafael mas pode me chamar de Rafa :)<br />Gosto bastante de
        tecnologia principalmente design, hoje sou UX Designer Pleno e estou
        caminhando para a minha senioridade.
      </p>
    </div>
    <div class="profile__techs">
      <h2>Especialista em:</h2>
      <p>Desenvolvimento de Carreira</p>
      <p>UX Design</p>
      <p>UI Design</p>
      <p>Figma</p>
      <p>UX Research</p>
      <p>UX Writing</p>
    </div>
    <div class="profile__contact">
      <h2>Entrar em contato:</h2>
      <div class="profile__contact--links">
        <div>
          <a href="#" class="profile__contact--slack"
            >Slack
            <img src="/images/slack.svg" alt="" aria-hidden="true" />
          </a>
          <a href="#" class="profile__contact--teams"
            >Teams <img src="/images/teams.svg" alt="" aria-hidden="true"
          /></a>
        </div>
        <a href="#" class="profile__contact--edit hide">Editar Perfil</a>
      </div>
    </div>
  </section>
</main>
