<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles/search-test.css" />
  </head>
  <body>
    <div class="filters">
      <input type="text" id="filter0" placeholder="Filtrar por Nome" />
      <input type="text" id="filter1" placeholder="Filtrar por Cargo" />
      <input type="text" id="filter2" placeholder="Filtrar por Email" />
      <input type="text" id="filter3" placeholder="Filtrar por Skills" />
    </div>

    <div class="cards" id="filter">
      <div class="card">
        <div class="card__image"></div>
        <div class="card__user" data-filter>
          <p>Anne Bortoli 🌈</p>
        </div>
        <div class="card__info">
          <div class="card__info--job" data-filter>
            <p>Desenvolvedora Back End</p>
          </div>
          <div class="card__info--contact" data-filter>
            <p><span>anne@gmail.com</span><br /><span>anne@email.com</span></p>
          </div>
          <div class="card__info--techs" data-filter>
            <p style="display: none">
              <span>Sequelize</span>
              <span>Express</span>
              <span>Node.js</span>
              <span>Postgres</span>
            </p>
            <img
              src="https://img.shields.io/badge/-sequelize-36357E?style=plastic&logo=sequelize"
              alt="sequelize"
            />
            <img
              src="https://img.shields.io/badge/-express-36357E?style=plastic&logo=express"
              alt="express"
            />
            <img
              src="https://img.shields.io/badge/-node.js-36357E?style=plastic&logo=nodedotjs"
              alt="node.js"
            />
            <img
              src="https://img.shields.io/badge/-postgres-36357E?style=plastic&logo=postgresql"
              alt="postgres sql"
            />
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__image"></div>
        <div class="card__user" data-filter>
          <p>Silvia Nascimento 🌈</p>
        </div>
        <div class="card__info">
          <div class="card__info--job" data-filter>
            <p>Designer UX</p>
          </div>
          <div class="card__info--contact" data-filter>
            <p>
              <span> silvia@gmail.com </span><br /><span>
                silvia@email.com
              </span>
            </p>
          </div>
          <div class="card__info--techs" data-filter>
            <p style="display: none">
              <span>Figma</span><span>Miro</span><span>Sketch</span>
            </p>
            <img
              src="https://img.shields.io/badge/-figma-36357E?style=plastic&logo=figma"
              alt="figma"
            />
            <img
              src="https://img.shields.io/badge/-miro-36357E?style=plastic&logo=miro"
              alt="miro"
            />
            <img
              src="https://img.shields.io/badge/-sketch-36357E?style=plastic&logo=sketch"
              alt="sketch"
            />
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__image"></div>
        <div class="card__user" data-filter>
          <p>Beatriz Menezes 🌈</p>
        </div>
        <div class="card__info">
          <div class="card__info--job" data-filter>
            <p>Designer UX</p>
          </div>
          <div class="card__info--contact" data-filter>
            <p><span>bia@gmail.com</span><br /><span>email@email.com</span></p>
          </div>
          <div class="card__info--techs" data-filter>
            <p style="display: none">
              <span>Figma</span><span>Photoshop</span><span>Miro</span>
            </p>
            <img
              src="https://img.shields.io/badge/-figma-36357E?style=plastic&logo=figma"
              alt="figma"
            />
            <img
              src="https://img.shields.io/badge/-photoshop-36357E?style=plastic&logo=adobephotoshop"
              alt="photoshop"
            />
            <img
              src="https://img.shields.io/badge/-miro-36357E?style=plastic&logo=miro"
              alt="miro"
            />
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__image"></div>
        <div class="card__user" data-filter>
          <p>Angela Caldas 🌈</p>
        </div>
        <div class="card__info">
          <div class="card__info--job" data-filter>
            <p>Desenvolvedora Front End</p>
          </div>
          <div class="card__info--contact" data-filter>
            <p>
              <span>sukita@gmail.com</span><br /><span>email@email.com</span>
            </p>
          </div>
          <div class="card__info--techs" data-filter>
            <p style="display: none">
              <span>HTML</span><span>CSS</span><span>Nodejs</span
              ><span>JavaScript</span>
            </p>
            <img
              src="https://img.shields.io/badge/-html-36357E?style=plastic&logo=html5"
              alt="html5"
            />
            <img
              src="https://img.shields.io/badge/-css-36357E?style=plastic&logo=css3"
              alt="css3"
            />
            <img
              src="https://img.shields.io/badge/-node.js-36357E?style=plastic&logo=nodedotjs"
              alt="node.js"
            />
            <img
              src="https://img.shields.io/badge/-javascript-36357E?style=plastic&logo=javascript"
              alt="javascript"
            />
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__image"></div>
        <div class="card__user" data-filter>
          <p>Camila Purificação 🌈</p>
        </div>
        <div class="card__info">
          <div class="card__info--job" data-filter>
            <p>Designer UX/UI</p>
          </div>
          <div class="card__info--contact" data-filter>
            <p><span>mila@gmail.com</span><br /><span>email@email.com</span></p>
          </div>
          <div class="card__info--techs" data-filter>
            <p style="display: none">Miro</p>
            <p style="display: none">Figma</p>
            <p style="display: none">AdobeXd</p>
            <img
              src="https://img.shields.io/badge/-miro-36357E?style=plastic&logo=miro"
              alt="miro"
            />
            <img
              src="https://img.shields.io/badge/-figma-36357E?style=plastic&logo=figma"
              alt="figma"
            />
            <img
              src="https://img.shields.io/badge/-adobeXd-36357E?style=plastic&logo=adobexd"
              alt="adobexd"
            />
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__image"></div>
        <div class="card__user" data-filter>
          <p>Catiussia Nascimento 🌈</p>
        </div>
        <div class="card__info">
          <div class="card__info--job" data-filter>
            <p>Desenvolvedora Back End</p>
          </div>
          <div class="card__info--contact" data-filter>
            <p><span>cati@gmail.com</span><br /><span>email@email.com</span></p>
          </div>
          <div class="card__info--techs" data-filter>
            <p style="display: none">
              <span>Express</span><span>Nodejs</span><span>Postgres</span>
            </p>
            <img
              src="https://img.shields.io/badge/-express-36357E?style=plastic&logo=express"
              alt="express"
            />
            <img
              src="https://img.shields.io/badge/-node.js-36357E?style=plastic&logo=nodedotjs"
              alt="node.js"
            />
            <img
              src="https://img.shields.io/badge/-postgres-36357E?style=plastic&logo=postgresql"
              alt="postgres sql"
            />
          </div>
        </div>
      </div>
    </div>

    <script src="/public/scripts/filter.js"></script>
  </body>
</html>
