<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles/search-test.css" />
  </head>
  <body>
    <div class="filters">
      <input type="text" id="filter0" placeholder="Filtrar por Nome" />
      <input type="text" id="filter1" placeholder="Filtrar por Cargo" />
      <input type="text" id="filter2" placeholder="Filtrar por Email" />
      <input type="text" id="filter3" placeholder="Filtrar por Skills" />
    </div>

    <div class="cards" id="filter">
    </div>

    <script src="/public/scripts/show-users.js"></script>
  </body>
</html>
