<main class="main container">
  <section class="main__text">
    <p class="main__text--title"></p>
  </section>

  <section class="main__form">
    <form action="/search">
      <label for="search" class="sr-only">
        Digite um nome, skill ou profissão:
      </label>
      <input type="search" id="search" placeholder="Buscar" />
      <button type="submit" aria-label="Pesquisar">
        <img src="/images/search.svg" alt="" aria-hidden="true" />
      </button>
    </form>
  </section>

  <!-- INSERIR A DIV DO "UFA" -->

  <section class="main__result">
    <div class="main__result--cards" id="filter"></div>
  </section>
</main>

<script src="/scripts/show-users.js"></script>
<!-- <script>
  async function getContent() {
    try {
      const response = await fetch('COLOCAR ENDEREÇO AQUI')
      const data = await response.json()
      console.log(data)

      show(data)
    } catch (error) {
      console.log(error)
    }
  }

  getContent()

  // funcão para jogar os dados na tela
  function show(users) {
    let output = ''

    for (let user of users) {
      output += `<li>${user.fullName}</li>`
    }
    document.querySelector('main').innerHTML = output
  }
</script> -->
