@font-face {
  font-family: 'Metropolis';
  src: url('/public/fonts/Metropolis-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

/* @font-face {
  font-family: 'Metropolis';
  src: url('/public/fonts/Metropolis-ExtraLight.otf') format('opentype');
  font-style: normal;
  font-weight: 200;
} */

@font-face {
  font-family: 'Metropolis';
  src: url('/public/fonts/Metropolis-Light.otf') format('opentype');
  font-style: normal;
  font-weight: 300;
}

/* @font-face {
  font-family: 'Metropolis';
  src: url('/public/fonts/Metropolis-Thin.otf') format('opentype');
  font-style: normal;
  font-weight: 100;
} */

/* @font-face {
  font-family: 'Metropolis';
  src: url('/public/fonts/Metropolis-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
} */

/* @font-face {
  font-family: 'Metropolis';
  src: url('/public/fonts/Metropolis-SemiBold.otf') format('opentype');
  font-style: normal;
  font-weight: 600;
} */

@font-face {
  font-family: 'Metropolis';
  src: url('/public/fonts/Metropolis-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}

/* @font-face {
  font-family: 'Metropolis';
  src: url('/public/fonts/Metropolis-ExtraBold.otf') format('opentype');
  font-style: normal;
  font-weight: 800;
} */

@font-face {
  font-family: 'Metropolis';
  src: url('/public/fonts/Metropolis-Black.otf') format('opentype');
  font-style: normal;
  font-weight: 900;
}