* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

:root {
  /* Cores principais */
  --orange: #ff4400;
  /* --blue: #36357e; */
  --white: #ffffff;
  --login-bg-color: #FFF5EE;
  --login-legend: #414099;
  --button-color: #4B4FA1;
  --light-grey: #F3F4F9;
  --card-border: #E2E2E2;
  --grey: #79797b;
  --black: #303033;

  /* Fontes */
  --main-font: 'Metropolis', 'Montserrat', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  font-family: var(--main-font);
  line-height: 1rem;
  overflow-x: hidden;
}

body, button, input, textarea, select {
  font-family: var(--main-font);
}

input, textarea, select {
  display: block;
  width: 100%;
  background: var(--light-grey);
  padding: .6875rem .5rem;
  border-radius: .375rem;
}

::placeholder {
  font-size: .75rem;
  font-weight: 400;
  color: var(--black);
  opacity: .6;
}
