* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

:root {
  /* Cores principais */
  --orange: #ff4400;
  /* --blue: #36357e; */
  --white: #ffffff;
  --login-bg-color: #FFF5EE;
  --login-legend: #414099;
  --button-color: #4B4FA1;
  --light-grey: #F3F4F9;
  --grey: #79797b;
  --black: #303033;

  /* Fontes */
  --main-font: 'Metropolis', 'Montserrat', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  font-family: var(--main-font);
  line-height: 1.3rem;
  overflow: hidden;
}

body, button, input, textarea, select {
  font-family: var(--main-font);
}

input, textarea, select {
  display: block;
  width: 100%;
  background: var(--light-grey);
  padding: .6875rem .5rem;
  border-radius: .375rem;
}

::placeholder {
  font-size: 1rem;
  color: var(--black);
  opacity: .6;
}

.button {
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 700;
  color: var(--white);
  width: 100%;
  padding: .75rem 0;
  background: var(--button-color);
  border-radius: .5rem;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
